body{
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#upperblock{
    color: pink;
    background-color: hotpink;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#upperblock h1{
    font-size: 30px;
}

#upperblock h2{
    font-size: 20px;
}

#navigation{
    width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

#navigation a{
    display: inline-block;
    color: gray;
    margin-bottom: 20px;
    padding: 0 20px;
    text-decoration:dotted;
    font-size: 15px;
}

#title{
    text-align: center;
}

#circle{
    height: 300px;
    width: 300px;
    background-color: gray;
    border: 1px solid black;
    border-bottom: 2px solid black;
    margin: auto;
    border-radius: 50%;
}