body{
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#upperblock{
    color: #94805a;
    background-color: #f5f5dc;
    
    text-align: center;
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#upperblock h1{
    font-size: 30px;
}

#upperblock h2{
    font-size: 20px;
}

#navigation{
    width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

#navigation a{
    display: inline-block;
    
    color: black;
    border-bottom: 1.5px dotted;
    text-decoration: none;
    font-size: 15px;
    
    margin: 0 20px 20px 20px;
}

#navigation a:hover{
    color: gray;
}

#navigation a:active{
    color: lightgray;
}

#title{
    text-align: center;
}

#circle{
    height: 300px;
    width: 300px;
    
    background-color: gray;
    border: 1px solid black;
    border-bottom: 2px solid black;
    
    margin: auto;
    border-radius: 50%;

    background-image: url(husky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content{
    font-size: 14px;
    border-bottom: 1px solid lightgray;
}

.padding{
    padding: 5px 0;
}

#copyright{
    text-align: center;
    padding: 20px 0;
}